* {
  margin: 0;
  padding: 0;
}

div#lilyPond {
  position: absolute;
  background: url("../img/Waterlilies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

div.riverNight {
  position: absolute;
  background: url("../img/2048px-Starry_Night_Over_the_Rhone.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  min-width: 100vw;
  height: 100vh;
  z-index: 3;
}

div.starryNight {
  position: absolute;
  background: url("../img/2048px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  min-width: 100vw;
  height: 100vh;
  z-index: 2;
}

/* canvas#fallingStar {
  z-index: 5;
} */

#bgCover {
  display: flex;
  margin: 0 auto;
  /* background-image: url("../img/Waterlilies.jpg");
  background-size: cover; */
  /* width: 100vw;
  height: 100vh; */
}

#defaultCanvas0 {
  display: inline-flex;
  position: absolute;
  left: 0;
  top: 0;
}
