@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}


body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}


div.container {
  background: url('/img/memphis-mini.png');
  background-repeat: repeat;
  margin: 0;
  display: flex;
  padding: 3em;
  overflow: hidden;
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  min-width: 980px;
  height: 100vh;
}

div.container.dark {
  background: url('/img/tactile_noise.png');
  background-repeat: repeat;

}

div.title {
  line-height: 3em;
  font-size: 2em;
  display: inline-block;
  width: 50vw;
}

div.title h3 {
  font-size: 24px;
  border-top: 3px solid black;
  text-align: right;
}



div#frame {
  position: relative;
  box-shadow: 8px 8px 11px 3px rgb(32, 24, 32)
}

div.content--canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

div.riverNight {
  position: absolute;
  background: url("/img/starry_night_over_the_rhone.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

div.starryNight {
  position: absolute;
  background: url("/img/van_gogh_starry_night.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  z-index: 2;
}

div.monetBackground {
  display: inline-block;
  background: url("/img/monet_houses_of_parliament_sunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  margin: 0.5em 0.5em;
  z-index: -1;
}

div.vincentBackground {
  display: inline-block;
  background: url("/img/vincent_van_gogh_the_prison_courtyard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  margin: 0.5em 0.5em;
  z-index: -1;
}




div#lilyPond {
  position: relative;
  background: url("/img/water_lilies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid rgba(34, 19, 2, 0.8);
}

div#garden {
  position: absolute;
  background: url("/img/claude_monet_poppy_field.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid rgba(34, 19, 2, 0.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
div#monet {
  position: absolute;
  background: url("/img/claude_monet_portrait.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid rgba(34, 19, 2, 0.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}

div.pedal {
  /* transition: 3s; */
  background: url("/img/red_flower.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 40vw;
  top: 60vh;
  z-index: 5;
}

div.pedal2 {
  background: url("/img/blue_flower.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50vw;
  top: 60vh;
  z-index: 5;
}
#bgCover {
  display: flex;
  margin: 0 auto;

}

div.songInfo {
  position: absolute;
  top: 3%;
  right: 2%;
  height: 1.5em;
  width: 12em;
}
div.songInfo.vin {
  color: white;
}

button {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  position: absolute;
  bottom: 1vh;
  left: 40%;
}

button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}


button.back {
  left: 54%
}

div.artist {
  position: relative;
  min-width: 50vw;
  height: 70vh;
  margin: 0 auto;
  padding: 1em;
  margin: 100px 200px;
}
div.vincent {
  position: absolute;
  display: inline-block;
  left: 0;
  text-align: center;
}

div.vincent img {
  width: 15vw;
}
div.monet {
  position: absolute;
  display: inline-block;
  right: 0;
  text-align: center;
}
div.monet img {
  width: 15vw;
}

p {
  background-color: rgba(255,255,255, 0.4);
  border-radius: 0.5em;
}